<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>D98B08E7-AE7C-4E33-843D-FF7F850BF264</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bd</string>
			<key>text</key>
			<string>Search Baidu for {query}</string>
			<key>url</key>
			<string>https://www.baidu.com/s?wd={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F650C579-A4E2-4EC4-A8E0-7A83332397F0</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>km</string>
			<key>text</key>
			<string>Search km for '{query}'</string>
			<key>url</key>
			<string>https://km.sankuai.com/search?key={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>FBA8E3C0-9431-4218-951D-C0FB48D03D8E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>kmdc</string>
			<key>text</key>
			<string>Search km for '{query}' in dc space</string>
			<key>url</key>
			<string>https://km.sankuai.com/search?key={query}&amp;searchType=1&amp;spaceId=4565</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
