<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fallbacks</key>
	<array>
		<string>features.websearch.custom.D98B08E7-AE7C-4E33-843D-FF7F850BF264.fallback</string>
		<string>features.websearch.google.fallback</string>
		<string>features.websearch.custom.F650C579-A4E2-4EC4-A8E0-7A83332397F0.fallback</string>
	</array>
	<key>showAppleScripts</key>
	<true/>
</dict>
</plist>
