<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>99856785-2021-408A-A9C3-028DE70C58FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0524AA1C-C718-4AB7-9948-296A60DAE995</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Eru</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>显示/隐藏所有文件</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>show</string>
				<key>script</key>
				<string>test "$(defaults read com.apple.finder AppleShowAllFiles)" = '1' &amp;&amp; echo "&lt;?xml version=\"1.0\" encoding=\"UTF-8\"?&gt;&lt;items&gt;&lt;item arg=\"1\" uid=\"1\" valid=\"yes\"&gt;&lt;title&gt;隐藏“隐藏文件”&lt;/title&gt;&lt;subtitle&gt;&lt;/subtitle&gt;&lt;icon&gt;icon.png&lt;/icon&gt;&lt;/item&gt;&lt;/items&gt;" || echo "&lt;?xml version=\"1.0\" encoding=\"UTF-8\"?&gt;&lt;items&gt;&lt;item arg=\"0\" uid=\"1\" valid=\"yes\"&gt;&lt;title&gt;显示“隐藏文件”&lt;/title&gt;&lt;subtitle&gt;&lt;/subtitle&gt;&lt;icon&gt;icon.png&lt;/icon&gt;&lt;/item&gt;&lt;/items&gt;"</string>
				<key>title</key>
				<string>显示或隐藏文件</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>99856785-2021-408A-A9C3-028DE70C58FD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  if q is "1" then 
  do shell script "defaults write com.apple.finder AppleShowAllFiles -bool NO &amp;&amp; killall Finder"
  else
  do shell script "defaults write com.apple.finder AppleShowAllFiles -bool YES &amp;&amp; killall Finder"
  end
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>0524AA1C-C718-4AB7-9948-296A60DAE995</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0524AA1C-C718-4AB7-9948-296A60DAE995</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>99856785-2021-408A-A9C3-028DE70C58FD</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
